*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #FCF8E8;
}

/* NAVBAR */
nav {
    background-color:#2e2e2b;
    width: 95%;
    height: 8rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.nav{
    display:inline-block;
    height: 100%;
}
.nav-container{
    position: relative;
    float: left;
    width: 70%;
}
.hamburger-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #d1d6c6;
    font-size: 2.5rem;
    font-style: bold;
    visibility: hidden;
}
#dropdown-container{
    position: absolute;
    top: 8rem;
    right: 0;
    background:transparent ;
    width: 10rem;
    height: 10rem;
    z-index: 1;
    overflow: hidden;
}
#dropdown-menu{
    width: 100%;
    height: 100%;
    background-color:#2e2e2b;
    transform: translateX(101%);
}
#dropdown-menu li{ 
    list-style: none;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-align: right;
}
#dropdown-menu li a{    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fefeff;
    text-decoration:none;
    letter-spacing: 2px;
}
.hamburger-button:hover{
    cursor: pointer;
    color: #ffffff;
    font-size: 2.6rem;
    transition: .1s;
}
.nav-links{
    position: absolute;
    right: 2rem;
}
.links,ul h1{
    list-style: none;
    float: left;
    padding-top: 3rem;   
}
.links a,ul h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fefeff;
    text-decoration:none;
    letter-spacing: 2px;
}
.links a:hover,#dropdown-menu li a:hover{    
    color: #685e6d;
    transition: 0.2s;
}
#logo{
    float: left;
    width: 30%;
    height: 100%;
    display: inline-block;
}
#logo h1{    
    font-size: 3rem;
    color: #fefeff;
    font-style: italic;
    font-family:monospace;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 2rem;
    width: auto;
    height: 100%;
}
.logo-container{
    width: 100%;
}
#logo h1:hover{
    opacity: 0.5;
    transition: 0.2s;
    
}
/*SECTION*/
.container{
    background-color:#ffffff;
    width: 90%;
    height: 35.6rem;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#slider-container{
    width: 29%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100%;
    display: flex;
}
.slider img{
    max-width: 100%;
    max-height: 100%;
    margin: auto 0  ;
}
#information{
    position: relative;
    width: 71%;
    height: 100%;
    float: right;
    /*display: inline-block;*/
}
.information-cover{
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
}
#information img{
    width:100%;
    height: 100%;
}
.information-cover h2{
    padding-top: 2rem;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.information-cover p{
    padding-top: 2rem;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

#products-container{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    height: 50%;    
    background-color: rgb(27, 27, 27);
    background: transparent;
    overflow: hidden;
}
.products-slider{
    width: 100%;
    height: 100%;
    display: flex;
}
.product-box{
    height: 100%;
    min-width: 33.33%;
}
.products{
    height: 87%;
    width: 70%;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(252, 240, 240);
}
.products-img{
    height: 70%;
}
.products-info{
    height: 30%;
}
.products-info h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9rem;
}.products-info h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}
.products-info p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: .8rem;
}
.arrow{
    width: 2rem;
    height: 2rem;
    height: auto;  
    z-index: 1; /* slide kayınca okların üstüne geldiği için okları kullanamoyoruz. bu yüzden üzte alıyoruz.*/ 
}
.arrow img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.arrow-left{    
    position: absolute;
    top: 40%;
    left: -.5rem; 
}
.arrow-right{    
    position: absolute;
    top: 40%;
    right: -.5rem;
}
.arrow img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px){
    .product-box{
        height: 100%;
        min-width: 50%;
    }
    #slider-container{
        display: block;
        float: left;
        width: 40%;
    }
    #information{
        display: block;
        float: left;
        width: 60%;
    }
    .container{
        width: 90%;
    }
    .slider img{
        max-width: 100%;
        max-height: 100%;
    }
    .hamburger-button{
        visibility:visible;        
    }
    .nav-links{
        visibility: hidden;
    }
    #logo{
        width: 50%;
    }
    .nav-container{
        width: 50%;
    }
}
@media (max-width: 900px){
    .product-box{
        height: 100%;
        min-width: 50%;
    }
    #slider-container{
        display: block;
        float: left;
        width: 30%;
    }
    #information{
        display: block;
        float: left;
        width:70%;
    }
    .slider img{
        max-width: 100%;
        min-height: 100%;
        margin-left:.8rem ;
    }
    .hamburger-button{
        visibility:visible;        
    }
    .nav-links{
        visibility: hidden;
    }
    #logo{
        width: 70%;
    }
    .nav-container{
        width: 30%;
    }
}
@media (max-width: 600px){
    .product-box{
        height: 100%;
        min-width: 100%;
    }
    #slider-container{
        display: block;
        float: left;
        width: 100%;
    }
    #information{
        display: block;
        float: left;
        width: 100%;
    }
    .container{
        width: 90%;
    }
    .slider img{
        max-width: 100%;
        max-height: 100%;
        margin-left:.8rem  ;
    }
    .hamburger-button{
        visibility:visible;        
    }
    .nav-links{
        visibility: hidden;
    }
    #logo{
        width: 70%;
    }
    .nav-container{
        width: 30%;
    }
}